/* style.css */

/* Alineación en las celdas de la tabla */
table th, table td {
  text-align: center;
  vertical-align: middle;
}

/* Estilos para los dropdowns personalizados */
.btn-default {
  border: 1px solid #123662 !important;
  color: #123662 !important;
  background-color: #fff !important;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-default:active {
  border-color: #123662 !important;
  color: #fff !important;
  background-color: #123662 !important;
}

button.btn-default:hover {
  border-color: #123662 !important;
  color: #fff !important;
  background-color: #123662 !important;
}

/* Margen inferior para el contenedor responsivo de la tabla */
.table-responsive {
  margin-bottom: 20px;
}

/* estilo del sello “Oficializado” */
.stamp {
  display: inline-block;
  padding: 2px 8px;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-weight: bold;
  font-size: 0.9em;
  white-space: nowrap;
}